.card-home {
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid #f3a81b;
    border-left: 15px solid #5cc2db00;
    border-radius: 5px;
    width: 40%;
}

.card-home-footer {
    background-color: rgba(12, 141, 163, 0.63);
    color: #5a5a5a;
    height: 30%;
    width: 30%;
    margin-left: 120px;
}

.card-home-button {
    padding: 2px;
    height: 30px;
    width: auto;
    
}

.form-group {
    margin-left: 20px;
    width: 40%;

}

button {
    margin-left: 30px;
    width: 30%;
}